.text-danger,
.border-danger {
  color: $color-danger;
}

.text-primary,
.border-primary {
  color: $color-primary-dark;
}
.border-dooted {
  border-style: dotted;
}

@each $key, $col in $colors {
  .bg-#{$key} {
    background-color: $col;
    color: $color-grey-dark-3;
    border: none;
  }
}
