@mixin mediaQuery($breakpoint: 0) {
  @if $breakpoint == xs {
    @media (min-width: map-get($breakpoints, "xs")) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (min-width: map-get($breakpoints, "sm")) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: map-get($breakpoints, "md")) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: map-get($breakpoints, "lg")) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: map-get($breakpoints, "xl")) {
      @content;
    }
  }
}

@mixin alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
