$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-danger: #eb455f;
$color-danger-dark: #850000;

$default-font-size: 1.6rem;
$base-padding: 0.5em;
$border-radius: 8px;
$border-radius-sm: 4px;
$button-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

$colors: (
  "primary": $color-primary,
  "primary-dark": $color-primary-dark,
  "primary-light": $color-primary-light,
  "secondary-dark": $color-secondary-dark,
  "secondary-light": $color-secondary-light,
  "tertiary-dark": $color-tertiary-dark,
  "tertiary-light": $color-tertiary-light,
  "danger": $color-danger,
  "white": $color-white,
  "black": $color-black,
);

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1400px,
);
