@each $key, $col in $colors {
  .btn-#{$key} {
    width: auto;
    border: none;
    cursor: pointer;
    padding: $base-padding $base-padding * 2;
    background-color: $col;
    outline-offset: none;
    color: $color-grey-dark-3;
  }
}

.btn-rounded {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.25em 0.5rem;
  font-size: 1.4rem;
  @include alignCenter;
}
