@each $key, $col in $colors {
  .btn-#{$key} {
    width: auto;
    border: none;
    cursor: pointer;
    padding: $base-padding $base-padding * 2;
    background-color: $color-white;
    outline-offset: none;
    color: $col;
    border: 2px solid darken($col, 25%);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: $border-radius-sm;

    &:hover,
    &:focus {
      color: darken($col, 25%);
    }
    &:active {
      border: 1px solid darken($col, 25%);
    }
  }
}

.btn-rounded {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  padding: 0.25em 0.5rem;
  font-size: 1.4rem;
  @include alignCenter;
}
