.worker-card {
  background-color: $color-grey-light-2;
  img {
    width: 100%;
  }
}
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    max-height: 230px;
    border: 2px solid $color-primary-dark;
    border-radius: $border-radius;
    position: relative;

    .card-info {
      margin: 0.5em 1em;
      text-align: center;
      overflow: hidden;
      max-height: 75px;

      & * {
        @include text-ellipsize;
      }
      h3 {
        color: $color-primary-dark;
        font-size: 1.8rem;
      }
      p {
        color: $color-grey-dark;
        padding: 0 15%;
        white-space: unset;
      }
    }

    .card-cta {
      position: absolute;

      &__details {
        right: 2%;
        top: 2%;
      }
      &__delete {
        left: 2%;
        bottom: 2%;
      }
    }

    img {
      height: 60%;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }
}
