.card-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1.5rem;

  @include mediaQuery(laptop) {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, max-content));
    column-gap: 10px;
    row-gap: 15px;
  }

  @include mediaQuery(desktop) {
    grid-template-columns: repeat(3, minmax(200px, max-content));
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    border: 2px solid $color-primary-dark;
    border-radius: $border-radius;
    position: relative;
    margin-inline: 1em;
    height: 320px;

    &-hidden {
      & > *:not(.card-cta) {
        opacity: 0.25;
      }
    }

    .card-info {
      margin: 0.5em 1em;
      text-align: center;
      overflow: hidden;

      & * {
        @include text-ellipsize;
      }

      p {
        font-size: 0.85rem;
        color: $color-grey-dark;
        padding: 0 15%;
        white-space: unset;
      }
    }

    .card-cta {
      position: absolute;

      &__details {
        right: 2%;
        top: 2%;
      }
      &__delete {
        left: 2%;
        bottom: 2%;
      }
      &__link {
        right: 2%;
        bottom: 2%;
      }
    }

    img {
      height: 60%;
      object-fit: cover;
      border-radius: 6px;
    }

    @include mediaQuery() {
      max-height: 230px;
      height: unset;
      margin-inline: unset;
      .card-info {
        max-height: 75px;
      }
    }
  }
}
