form {
  display: flex;
  flex: 1;
  flex-direction: column;

  h2 {
    font-size: 1.8rem;
  }

  .input-container {
    margin-bottom: 1.6em;
    max-width: 300px;
    text-align: start;

    &__check {
      display: flex;
      input[type="checkbox"] {
        accent-color: $color-primary;
        width: fit-content;
        cursor: pointer;
        margin-top: 0;
        margin-left: 0.75em;
      }
    }

    &__file {
      position: relative;

      svg {
        position: absolute;
        left: 100%;
      }
    }

    input {
      display: block;
      width: 100%;
      padding: 1.2rem;
      margin-top: 0.5em;
      border: 2px solid $color-grey-dark;
      border-radius: $border-radius-sm;
      color: $color-grey-dark-3;
      font-weight: 600;
    }

    .input-err {
      border-color: $color-danger;
    }
  }

  label {
    font-size: 1.25rem;
    margin-block: 1rem;
  }

  .label-img-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    input {
      display: none;
    }
  }

  button {
    margin-top: 2rem;
  }
}
