.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: $color-white;
  border-radius: $border-radius;
  height: 80vh;
  width: 90vw;
  max-width: 876px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;

  &.add-entry {
    height: 75vh;

    @include mediaQuery(desktop) {
      width: 30vw;
    }
  }

  &.details {
    .details-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .modal-image-wrapper {
        border-right: 1px solid #ddd;
        max-height: 240px;
        img {
          height: 100%;
        }

        &__hidden-sm {
          display: none;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: space-evenly;
        padding-inline: 1em;
        margin-bottom: 1em;

        p {
          background-color: lighten($color-primary, 15%);
          padding: 0.5em;
          border: 2px dashed black;
          overflow-wrap: anywhere;
        }
      }

      @include mediaQuery(desktop) {
        flex-direction: row;
        width: 40vw;
        min-height: 460px;
        max-height: 525px;

        .modal-image-wrapper {
          max-width: 60%;

          &__hidden-sm {
            display: block;
          }
        }

        &__info {
          padding: 0;
          margin-bottom: 0;
          p {
            padding: 2.5em;
          }
        }
      }
    }
  }
  .modal-header {
    width: 100%;
    padding-block: 0.5em;
    border-bottom: 1.5px solid #ddd;

    @include mediaQuery(laptop) {
      padding-block: 0.5em;
    }
  }
}

.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
