.review {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 1em;

  .review-bubble {
    background-color: lighten($color-primary, 15%);
    color: black;
    min-height: 200px;
    height: fit-content;
    border-radius: 50px;
    display: flex;
    padding: 5%;
    flex-direction: column;
    border: 2px dashed black;

    .review-author {
      margin-bottom: 1em;
      color: $color-grey-dark-3;
    }

    @include mediaQuery(desktop) {
      min-height: unset;

      h2 {
        font-size: 1.125rem;
      }
      .review-author {
        font-size: 1rem;
      }
      .review-p-text {
        font-size: 0.825rem;
      }
    }
  }
}
